  header {
    diplay: flex;
    align-times: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Veranda;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: aquamarine;
  }
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
div {
  border: 1px solid black;
  display: block;
  display: flex;
}
